zanata-war/src/test/resources/performance/GetTransUnitListHandlerPerformanceTest.dbunit.dtd

<!ELEMENT dataset (
    HAccount*,
    HPerson*,
    HLocale*,
    HPoHeader*,
    HProject*,
    HProjectIteration*,
    HDocument*,
    HSimpleComment*,
    HPotEntryData*,
    HTextFlow*,
    HTextFlowTarget*)>

<!ELEMENT HAccount EMPTY>
<!ATTLIST HAccount
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    apiKey CDATA #IMPLIED
    enabled CDATA #REQUIRED
    passwordHash CDATA #IMPLIED
    username CDATA #IMPLIED
    mergedInto CDATA #IMPLIED
>

<!ELEMENT HPerson EMPTY>
<!ATTLIST HPerson
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    email CDATA #REQUIRED
    name CDATA #REQUIRED
    accountId CDATA #IMPLIED
>

<!ELEMENT HLocale EMPTY>
<!ATTLIST HLocale
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    active CDATA #REQUIRED
    localeId CDATA #REQUIRED
    enabledByDefault CDATA #IMPLIED
>

<!ELEMENT HPoHeader EMPTY>
<!ATTLIST HPoHeader
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    entries CDATA #IMPLIED
    comment_id CDATA #IMPLIED
>

<!ELEMENT HProject EMPTY>
<!ATTLIST HProject
    projecttype CDATA #REQUIRED
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    slug CDATA #REQUIRED
    description CDATA #IMPLIED
    homeContent CDATA #IMPLIED
    name CDATA #REQUIRED
    overrideLocales CDATA #REQUIRED
    status CDATA #IMPLIED
    restrictedByRoles CDATA #IMPLIED
    default_copy_trans_opts_id CDATA #IMPLIED
>

<!ELEMENT HProjectIteration EMPTY>
<!ATTLIST HProjectIteration
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    slug CDATA #REQUIRED
    parentId CDATA #IMPLIED
    project_id CDATA #REQUIRED
    overrideLocales CDATA #REQUIRED
    status CDATA #IMPLIED
>

<!ELEMENT HDocument EMPTY>
<!ATTLIST HDocument
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    contentType CDATA #REQUIRED
    docId CDATA #REQUIRED
    name CDATA #REQUIRED
    obsolete CDATA #REQUIRED
    path CDATA #REQUIRED
    revision CDATA #REQUIRED
    last_modified_by_id CDATA #IMPLIED
    locale CDATA #REQUIRED
    poHeader_id CDATA #IMPLIED
    project_iteration_id CDATA #REQUIRED
>

<!ELEMENT HSimpleComment EMPTY>
<!ATTLIST HSimpleComment
    id CDATA #REQUIRED
    comment CDATA #REQUIRED
>

<!ELEMENT HPotEntryData EMPTY>
<!ATTLIST HPotEntryData
    id CDATA #REQUIRED
    context CDATA #IMPLIED
    flags CDATA #IMPLIED
    refs CDATA #IMPLIED
    comment_id CDATA #IMPLIED
    tf_id CDATA #IMPLIED
>

<!ELEMENT HTextFlow EMPTY>
<!ATTLIST HTextFlow
    id CDATA #REQUIRED
    obsolete CDATA #REQUIRED
    pos CDATA #REQUIRED
    resId CDATA #REQUIRED
    revision CDATA #REQUIRED
    comment_id CDATA #IMPLIED
    document_id CDATA #REQUIRED
    potEntryData_id CDATA #IMPLIED
    wordCount CDATA #REQUIRED
    contentHash CDATA #REQUIRED
    plural CDATA #IMPLIED
    content0 CDATA #IMPLIED
    content1 CDATA #IMPLIED
    content2 CDATA #IMPLIED
    content3 CDATA #IMPLIED
    content4 CDATA #IMPLIED
    content5 CDATA #IMPLIED
>

<!ELEMENT HTextFlowTarget EMPTY>
<!ATTLIST HTextFlowTarget
    id CDATA #REQUIRED
    creationDate CDATA #REQUIRED
    lastChanged CDATA #REQUIRED
    versionNum CDATA #REQUIRED
    state CDATA #REQUIRED
    tf_revision CDATA #REQUIRED
    comment_id CDATA #IMPLIED
    last_modified_by_id CDATA #IMPLIED
    locale CDATA #REQUIRED
    tf_id CDATA #IMPLIED
    content0 CDATA #IMPLIED
    content1 CDATA #IMPLIED
    content2 CDATA #IMPLIED
    content3 CDATA #IMPLIED
    content4 CDATA #IMPLIED
    content5 CDATA #IMPLIED
>

